@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* || RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/* || GENERAL STYLES */

body {
    font-family: "Inter", sans-serif;
    background-color: hsl(0, 0%, 8%);
    font-size: 0.875rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-card {
    background: hsl(0, 0%, 12%);
    max-width: 22rem;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3rem auto;
}

.image {
    position: relative;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-bottom: 1.2rem;
}

.image .profile-image {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.personal-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1.5rem;
}

.personal-info h2 {
    color: hsl(0, 0%, 100%);
    font-size: x-large;
    margin-bottom: 0.5rem;
    font-weight: 600;
}

.personal-info h4 {
    color: hsl(75, 94%, 57%);
    margin-bottom: 1.5rem;
    font-weight: 600;
}

.personal-info p {
    color: hsl(0, 0%, 100%);
    font-weight: 400;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 1rem;
}

.container .social {
    padding: 0.8rem 0;
    background: hsl(0, 0%, 20%);
    border-radius: 0.5rem;
    color: hsl(0, 0%, 100%);
    font-weight: 700;
    text-align: center;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.container .social:hover {
    background: hsl(75, 94%, 57%);
    color: hsl(0, 0%, 8%);
}

/* || MEDIA QUERIES */

@media (max-width: 600px){
    body{
        padding: 1rem;
    }
    .text-info{
        text-align: center;
    }
}